@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background: linear-gradient(
      100deg,
      rgba(147, 47, 167, 0.596),
      rgba(58, 5, 58, 0.664)
    ),
    url(img/background.jpg);
  background-size: cover;
  object-fit: fill;
  background-repeat: no-repeat;
  height: 95vh;
  width: 100%;
}
.inputs {
  width: 100%;
}
.inputs .city {
  width: 80%;
  border-radius: 2px 0px 0px 2px;
  padding: 3px 20px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.356);
  margin-left: 2px;
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
  border-radius: 30px;
}
.sub {
  outline: none;
  background: #00000025;
  border: none;
  color: white;
  font-weight: 400;
  border-radius: 50%;
  padding: 5px 5px;
}
.error {
  color: rgb(233, 233, 233);
  font-size: 10px;
  transition: all 0.3s ease;
  padding-left: 10px;
  opacity: 0;
  transform: translateY(30px);
}
.error-show {
  opacity: 1;
  transform: translateY(0px);
}

.output {
  transition: all 0.9s ease;
}

.result h3,
h4,
h5 {
  margin-bottom: 25px;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

i {
  font-size: 12px;
  padding: 0px 2px;
}
.temperature {
  padding-top: 10px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}
.status {
  margin-top: 10px;
}
.sub:hover {
  background-color: rgb(8, 102, 211);
}
.container {
  padding: 20px;
  width: 60%;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.486);
  background-color: rgba(44, 124, 161, 0.767);
  color: white;
  border-radius: 3px;
}

.loca {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.status,
.hum,
.wind {
  color: rgba(255, 255, 255, 0.548);
  padding-top: 10px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
.NOW {
  display: flex;
  align-items: center;
}
.output {
}
.error span {
  transition: all 0.3s ease;
  animation: roll 1.3s infinite;
}
@keyframes roll {
  0% {
    opacity: 3;
    transform: translateX(0);
  }
  50% {
    opacity: 0.6;
    transform: translateX(200px);
  }
  100% {
    opacity: 0.2;
    transform: translateX(200px);
    transition: 0.3s all;
  }
}
